In [ ]:
library(tidyverse)
library(writexl)

# batch1

In [52]:
sample_seq=c("17T4.176","18T3.177","18T4.178",
                    "132T1.179","151T4.181")

In [53]:
samples=str_split_fixed(sample_seq,"\\.",2)[,1]
samples

[1] "17T4"  "18T3"  "18T4"  "132T1" "151T4"

In [54]:
files1 = str_c("/data2/xiangwei/projects/zhaolian_old/cellrangerMulti/run/",
              samples,
              "/outs/per_sample_outs/",
              samples,
              "/metrics_summary.csv",sep = "")
names(files1)=samples
files1[1]

                                                                                                          17T4
"/data2/xiangwei/projects/zhaolian_old/cellrangerMulti/run/17T4/outs/per_sample_outs/17T4/metrics_summary.csv"

In [ ]:
QCres1= read_csv(files1)
dim(QCres1)

In [56]:
sampleID=rep(samples,each = 79)
length(sampleID)

[1] 395

In [57]:
QCres1=QCres1%>%mutate(sampleID=sampleID)

In [58]:
head(QCres1)

  Category Library Type    Grouped By Group Name
1 Cells    Gene Expression NA         NA
2 Cells    Gene Expression NA         NA
3 Cells    Gene Expression NA         NA
4 Cells    Gene Expression NA         NA
5 Cells    Gene Expression NA         NA
6 Cells    Gene Expression NA         NA
  Metric Name                       Metric Value sampleID
1 Cells                             11,051       17T4
2 Confidently mapped reads in cells 60.10%       17T4
3 Median UMI counts per cell        3,638        17T4
4 Median genes per cell             1,513        17T4
5 Median reads per cell             13,636       17T4
6 Total genes detected              25,197       17T4

In [59]:
cell_expression=QCres1%>%filter(`Library Type`=="Gene Expression")%>%
filter(`Metric Name`=="Cells"|
       `Metric Name`=="Median reads per cell"|
       `Metric Name`=="Confidently mapped reads in cells"|
       `Metric Name`=="Median UMI counts per cell"|
       `Metric Name`=="Median genes per cell"|
       `Metric Name`=="Total genes detected"|
       `Metric Name`=="Q30 RNA read"|
       `Metric Name`=="Sequencing saturation")%>%
select(sampleID,`Metric Name`,`Metric Value`)%>%
group_by(sampleID)%>%distinct(`Metric Name`,.keep_all = T)%>%
pivot_wider(names_from = `Metric Name`,values_from = `Metric Value`)

In [60]:
head(cell_expression)

  sampleID Cells  Confidently mapped reads in cells Median UMI counts per cell
1 17T4     11,051 60.10%                            3,638
2 18T3     6,356  63.72%                            7,122
3 18T4     2,516  63.35%                            6,399
4 132T1    5,683  70.96%                            5,706
5 151T4    6,500  65.79%                            6,182
  Median genes per cell Median reads per cell Total genes detected Q30 RNA read
1 1,513                 13,636                25,197               92.1%
2 2,686                 25,834                25,298               92.2%
3 2,156                 83,966                23,500               86.3%
4 2,026                 25,493                24,859               93.3%
5 2,408                 25,465                24,657               92.9%
  Sequencing saturation
1 47.78%
2 54.80%
3 77.78%
4 60.38%
5 56.77%

In [61]:
write.table(cell_expression,"results/batch1QC.csv")

# batch2

In [62]:
sample_seq=c("142T2.234","142T54.236","148T1.238","148T3.239")

In [63]:
samples=str_split_fixed(sample_seq,"\\.",2)[,1]
samples

[1] "142T2"  "142T54" "148T1"  "148T3"

In [64]:
files2 = str_c("/data2/xiangwei/projects/zhaolian/01cellrangerMulti/batch2/run/",
              samples,
              "/outs/per_sample_outs/",
              samples,
              "/metrics_summary.csv",sep = "")
names(files2)=samples
files2[1]

                                                                                                                142T2
"/data2/xiangwei/projects/zhaolian/01cellrangerMulti/batch2/run/142T2/outs/per_sample_outs/142T2/metrics_summary.csv"

In [ ]:
QCres2= read_csv(files2)
dim(QCres2)

In [66]:
sampleID=rep(samples,each = 79)
length(sampleID)

[1] 316

In [67]:
QCres2=QCres2%>%mutate(sampleID=sampleID)

In [68]:
head(QCres2)

  Category Library Type    Grouped By Group Name
1 Cells    Gene Expression NA         NA
2 Cells    Gene Expression NA         NA
3 Cells    Gene Expression NA         NA
4 Cells    Gene Expression NA         NA
5 Cells    Gene Expression NA         NA
6 Cells    Gene Expression NA         NA
  Metric Name                       Metric Value sampleID
1 Cells                             6,937        142T2
2 Confidently mapped reads in cells 83.91%       142T2
3 Median UMI counts per cell        2,369        142T2
4 Median genes per cell             1,053        142T2
5 Median reads per cell             21,312       142T2
6 Total genes detected              24,385       142T2

In [69]:
cell_expression=QCres2%>%filter(`Library Type`=="Gene Expression")%>%
filter(`Metric Name`=="Cells"|
       `Metric Name`=="Median reads per cell"|
       `Metric Name`=="Confidently mapped reads in cells"|
       `Metric Name`=="Median UMI counts per cell"|
       `Metric Name`=="Median genes per cell"|
       `Metric Name`=="Total genes detected"|
       `Metric Name`=="Q30 RNA read"|
       `Metric Name`=="Sequencing saturation")%>%
select(sampleID,`Metric Name`,`Metric Value`)%>%
group_by(sampleID)%>%distinct(`Metric Name`,.keep_all = T)%>%
pivot_wider(names_from = `Metric Name`,values_from = `Metric Value`)

In [70]:
head(cell_expression)

  sampleID Cells Confidently mapped reads in cells Median UMI counts per cell
1 142T2    6,937 83.91%                            2,369
2 142T54   7,245 85.11%                            2,447
3 148T1    8,130 88.31%                            2,121
4 148T3    6,061 79.06%                            2,254
  Median genes per cell Median reads per cell Total genes detected Q30 RNA read
1 1,053                 21,312                24,385               92.1%
2 1,045                 22,813                24,271               92.2%
3 906                   23,450                23,611               92.0%
4 1,054                 26,221                23,758               92.2%
  Sequencing saturation
1 85.21%
2 85.98%
3 88.19%
4 87.76%

In [71]:
write.table(cell_expression,"results/batch2QC.csv")